<header id="header">
    <div class="header">
        <div class="header-container">
            <div class="d-flex align-items-center">
                <a href="index.html" class="brand-logo">
                    <img src="./img/logo/nav-brand-logo.svg" alt="">
                </a>
                <div class="navbar-right-section m-l-auto">
                    <div class="d-flex align-items-center navbar-right-buttons">
                        <div class="search">
                            <button class="search-button" id="searchButton">                                 
                                <img src="./img/icon/search-icon.svg" alt="">
                            </button>
                            <div class="search-box" id="searchBox">
                                <input type="text" placeholder="Arama" id="navSearch" enterkeyhint="search">
                                <a href="#">
                                    <div class="icon">
                                        <img src="./img/icon/search-icon.svg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="language">
                            <button class="language-button active" id="languageEn">
                                <span>EN</span>
                            </button>
                            <button class="language-button" id="languageTr">
                                <span>TR</span>
                            </button>
                        </div>
                        <button class="mobile-menu-button" id="menuOpenBtn">
                            <svg width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="30" height="2" rx="1" fill="#0079C1"/>
                                <rect y="9" width="30" height="2" rx="1" fill="#0079C1"/>
                                <rect y="18" width="30" height="2" rx="1" fill="#0079C1"/>
                            </svg>                                
                        </button>
                    </div>
                    <div class="navbar-list" id="navbarList">
                        <ul>
                            <li>
                                <a href="index.html" class="active">
                                    <span>ANA SAYFA</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span>KURUMSAL</span>
                                    <div class="icon">
                                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.800013 0.898224L4.99647 5.09468L9.20001 0.898224C6.88204 3.2162 3.11799 3.2162 0.800013 0.898224Z" fill="white"/>
                                        </svg>                                                                                      
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-body">
                                        <ul>
                                            <li>
                                                <a href="about.html">Hakkımızda</a>
                                            </li>
                                            <li>
                                                <a href="business-partners.html">İş Ortakları</a>
                                            </li>
                                            <li>
                                                <a href="career.html">Kariyer</a>
                                            </li>
                                            <li>
                                                <a href="news.html">Haberler</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span>BLOG</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span>ÜRÜNLER</span>
                                    <div class="icon">
                                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.800013 0.898224L4.99647 5.09468L9.20001 0.898224C6.88204 3.2162 3.11799 3.2162 0.800013 0.898224Z" fill="white"/>
                                        </svg>                                                                                      
                                    </div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropdown-body">
                                        <ul>
                                            <li>
                                                <a href="products.html">e-Performans</a>
                                            </li>
                                            <li>
                                                <a href="products.html">TalentPayroll</a>
                                            </li>
                                            <li>
                                                <a href="products.html">AnketEvi</a>
                                            </li>
                                            <li>
                                                <a href="products.html">İnka.Net</a>
                                            </li>
                                            <li>
                                                <a href="products.html">Feed-back</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="references.html">
                                    <span>REFERANSLAR</span>
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <span>İLETİŞİM</span>
                                </a>
                            </li>
                        </ul>
                        <div class="language">
                            <button class="language-button active" id="languageEn">
                                <span>EN</span>
                            </button>
                            <button class="language-button" id="languageTr">
                                <span>TR</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu" id="mobileMenu">
        <a href="index.html" class="brand-logo">
            <img src="./img/logo/nav-brand-logo.svg" alt="">
        </a>
        <button class="close-btn" id="menuCloseBtn">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.9548 21.9912C0.7084 21.9912 0.462 21.8945 0.2772 21.7098C-0.0924 21.3404 -0.0924 20.7336 0.2772 20.3554L20.3676 0.277034C20.7372 -0.0923446 21.3444 -0.0923446 21.7228 0.277034C22.0924 0.646412 22.0924 1.25325 21.7228 1.63142L1.6324 21.7098C1.4476 21.8945 1.2012 21.9912 0.9548 21.9912Z" fill="#0079C1"/>
                <path d="M21.0364 21.9912C20.79 21.9912 20.5436 21.8945 20.3588 21.7098L0.2772 1.64021C-0.0924 1.27083 -0.0924 0.663996 0.2772 0.285823C0.6468 -0.0835555 1.254 -0.0835555 1.6324 0.285823L21.7228 20.3642C22.0924 20.7336 22.0924 21.3404 21.7228 21.7186C21.538 21.9033 21.2916 22 21.0452 22L21.0364 21.9912Z" fill="#0079C1"/>
            </svg>                
        </button>
        <div class="mobile-menu-list">
        </div>
    </div>
</header>