{# prettier-ignore #}
{% extends "./layout/layout-general.html" %}
{% block title %}Front end Starter Kit{% endblock %}
{%block bodyClass %}body-home{% endblock %} {% block content %}
<section>
    <div class="container">
        <div class="position-relative w-100 h-100">
            <a href="#" class="top-button">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="40" height="40" rx="3" fill="#3B3B3B" fill-opacity="0.2"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M30.1579 12.6798H10V11H30.1579V12.6798ZM20.0437 14.3731L27.576 21.9054L26.3884 23.0931L20.8836 17.5883V31H19.2038V17.5883L13.6956 23.0931L12.508 21.9054L20.0437 14.3731Z" fill="white"/>
                </svg>                    
            </a>
        </div>
    </div>
</section>
<div class="modal-dialog modal-lg">
    <div class="modal-box">
        <div class="icon">
            <img src="./img/icon/modal-icon.svg" alt="">
        </div>
        <h1 class="title">
            Teşekkürler!
        </h1>
        <div class="desc">
            Your message has been successfully sent. We will contact you very soon!
        </div>
        <a href="javascript:;" class="close-button">
            Kapat
        </a>
    </div>
</div>
<div id="modal" class="modal video-modal">
    <div class="modal-content">
      <span id="closeModalBtn" class="close">
        <img src="./img/icon/close-black-button.svg" alt="">
      </span>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pN2yLAtMDjg?si=nczEtABQQUFwTRgE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
<div class="detail-modal" id="modal-1">
    <div class="detail-block">
        <div class="modal-content">
            <div class="text">
                <div class="date">07.12.2024</div>
                <div class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ut sint dignissimos asperiores architecto aliquam, tempora harum minima doloribus impedit!</div>
                <div class="video-iframe">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/H0aB_zLn5ic?si=No6VienTzep-c6vx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, asperiores eaque, cum consectetur enim voluptatem ea sunt minus ad architecto atque, placeat blanditiis error delectus. Vero minima, ratione corporis maxime sequi hic pariatur nihil aut saepe, omnis quam deleniti fuga, quasi velit nam itaque quia sit quod tempore. Ad dolor explicabo qui aperiam labore voluptates facere corrupti maxime quae blanditiis.</div>
                <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, asperiores eaque, cum consectetur enim voluptatem ea sunt minus ad architecto atque, placeat blanditiis error delectus. Vero minima, ratione corporis maxime sequi hic pariatur nihil aut saepe, omnis quam deleniti fuga, quasi velit nam itaque quia sit quod tempore. Ad dolor explicabo qui aperiam labore voluptates facere corrupti maxime quae blanditiis.</div>
                <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, asperiores eaque, cum consectetur enim voluptatem ea sunt minus ad architecto atque, placeat blanditiis error delectus. Vero minima, ratione corporis maxime sequi hic pariatur nihil aut saepe, omnis quam deleniti fuga, quasi velit nam itaque quia sit quod tempore. Ad dolor explicabo qui aperiam labore voluptates facere corrupti maxime quae blanditiis.</div>
                <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, asperiores eaque, cum consectetur enim voluptatem ea sunt minus ad architecto atque, placeat blanditiis error delectus. Vero minima, ratione corporis maxime sequi hic pariatur nihil aut saepe, omnis quam deleniti fuga, quasi velit nam itaque quia sit quod tempore. Ad dolor explicabo qui aperiam labore voluptates facere corrupti maxime quae blanditiis.</div>
                <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, asperiores eaque, cum consectetur enim voluptatem ea sunt minus ad architecto atque, placeat blanditiis error delectus. Vero minima, ratione corporis maxime sequi hic pariatur nihil aut saepe, omnis quam deleniti fuga, quasi velit nam itaque quia sit quod tempore. Ad dolor explicabo qui aperiam labore voluptates facere corrupti maxime quae blanditiis.</div>
                <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, asperiores eaque, cum consectetur enim voluptatem ea sunt minus ad architecto atque, placeat blanditiis error delectus. Vero minima, ratione corporis maxime sequi hic pariatur nihil aut saepe, omnis quam deleniti fuga, quasi velit nam itaque quia sit quod tempore. Ad dolor explicabo qui aperiam labore voluptates facere corrupti maxime quae blanditiis.</div>
                <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, asperiores eaque, cum consectetur enim voluptatem ea sunt minus ad architecto atque, placeat blanditiis error delectus. Vero minima, ratione corporis maxime sequi hic pariatur nihil aut saepe, omnis quam deleniti fuga, quasi velit nam itaque quia sit quod tempore. Ad dolor explicabo qui aperiam labore voluptates facere corrupti maxime quae blanditiis.</div>
                <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, asperiores eaque, cum consectetur enim voluptatem ea sunt minus ad architecto atque, placeat blanditiis error delectus. Vero minima, ratione corporis maxime sequi hic pariatur nihil aut saepe, omnis quam deleniti fuga, quasi velit nam itaque quia sit quod tempore. Ad dolor explicabo qui aperiam labore voluptates facere corrupti maxime quae blanditiis.</div>
            </div>
            <div class="img">
                <img src="./img/card/card-img-2.png" alt="">
            </div>
        </div>
        <button class="close-modal" id="close-news-detail">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.868 19.992C0.644 19.992 0.42 19.9041 0.252 19.7362C-0.084 19.4004 -0.084 18.8487 0.252 18.5049L18.516 0.251849C18.852 -0.0839496 19.404 -0.0839496 19.748 0.251849C20.084 0.587648 20.084 1.13932 19.748 1.48311L1.484 19.7362C1.316 19.9041 1.092 19.992 0.868 19.992Z" fill="black"/>
                    <path d="M19.124 19.9918C18.9 19.9918 18.676 19.9039 18.508 19.736L0.252 1.49092C-0.084 1.15512 -0.084 0.603455 0.252 0.259661C0.588 -0.0761371 1.14 -0.0761371 1.484 0.259661L19.748 18.5127C20.084 18.8485 20.084 19.4002 19.748 19.744C19.58 19.9119 19.356 19.9998 19.132 19.9998L19.124 19.9918Z" fill="black"/>
                </svg>                        
        </button>
    </div>
</div>
<section class="hero" id="news-hero">
    <div class="hero-backdrop" style="background: url(./img/background/business-hero.png);background-position: center;background-size: cover; background-repeat: no-repeat;">
        <div class="hero-bottom-block">
            <div class="text">
                <div class="brand-text">
                    <span>TalentSys</span>
                    <span>|</span>
                    <span>1990'dan beri...</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section breadcrumb">
    <div class="container">
        <nav>
            <ol>
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <span>
                |
              </span>
              <li class="breadcrumb-item active">
                <a href="#">Kurumsal</a>
              </li>
              <span>
                |
              </span>
              <li class="breadcrumb-item active">
                <a href="#">Haberler</a>
              </li>
            </ol>
          </nav>
    </div>
</section>
<section class="news-section" id="news-section">
    <div class="container">
        <div class="heading-1 w-max bottom-line position-relative light md m-b-3 color-primary-linear">
            <h1>Haberler ve Güncel Projeler</h1>
        </div>
        <div class="subtitle">
            <h3>TalentSys'den kısa kısa haberler ve güncel gelişmeler.</h3>
        </div>
        <div class="news-card-wrap">
            <a href="javascript:void(0);" data-toggle="detail-modal" class="news-card">
                <div class="card-img">
                    <img src="./img/card/card-img-2.png" alt="">
                </div>
                <div class="text-card">
                    <div class="title">
                        <h3>CCN Group</h3>
                    </div>
                    <div class="desc">
                        <p>CCN Group TalentSys çözümlerini tercih etti</p>
                    </div>
                    <div class="card-link">
                        <div>
                            <span>DEVAMI</span>
                            <div class="icon">
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.0011 13.4826C8.90548 13.3869 8.85176 13.2571 8.85176 13.1217C8.85176 12.9864 8.90548 12.8566 9.0011 12.7609L14.2566 7.50456L0.510652 7.50456C0.375219 7.50456 0.245332 7.45076 0.149566 7.355C0.0538003 7.25923 -2.95541e-07 7.12934 -2.89621e-07 6.99391C-2.83701e-07 6.85848 0.0538003 6.72859 0.149566 6.63282C0.245332 6.53706 0.375219 6.48326 0.510652 6.48326L14.2566 6.48326L9.0011 1.22694C8.9109 1.13014 8.8618 1.0021 8.86413 0.869808C8.86646 0.737514 8.92006 0.611291 9.01362 0.51773C9.10718 0.42417 9.2334 0.370577 9.36569 0.368243C9.49799 0.365909 9.62602 0.415016 9.72283 0.505217L15.8507 6.63305C15.9463 6.7288 16 6.85859 16 6.99391C16 7.12923 15.9463 7.25903 15.8507 7.35477L9.72283 13.4826C9.62708 13.5782 9.49729 13.6319 9.36196 13.6319C9.22664 13.6319 9.09685 13.5782 9.0011 13.4826Z" fill="#0079C1"/>
                                </svg>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0);" data-toggle="detail-modal" class="news-card">
                <div class="card-img">
                    <img src="./img/card/card-img-2.png" alt="">
                </div>
                <div class="text-card">
                    <div class="title">
                        <h3>CCN Group</h3>
                    </div>
                    <div class="desc">
                        <p>CCN Group TalentSys çözümlerini tercih etti</p>
                    </div>
                    <div class="card-link">
                        <div>
                            <span>DEVAMI</span>
                            <div class="icon">
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.0011 13.4826C8.90548 13.3869 8.85176 13.2571 8.85176 13.1217C8.85176 12.9864 8.90548 12.8566 9.0011 12.7609L14.2566 7.50456L0.510652 7.50456C0.375219 7.50456 0.245332 7.45076 0.149566 7.355C0.0538003 7.25923 -2.95541e-07 7.12934 -2.89621e-07 6.99391C-2.83701e-07 6.85848 0.0538003 6.72859 0.149566 6.63282C0.245332 6.53706 0.375219 6.48326 0.510652 6.48326L14.2566 6.48326L9.0011 1.22694C8.9109 1.13014 8.8618 1.0021 8.86413 0.869808C8.86646 0.737514 8.92006 0.611291 9.01362 0.51773C9.10718 0.42417 9.2334 0.370577 9.36569 0.368243C9.49799 0.365909 9.62602 0.415016 9.72283 0.505217L15.8507 6.63305C15.9463 6.7288 16 6.85859 16 6.99391C16 7.12923 15.9463 7.25903 15.8507 7.35477L9.72283 13.4826C9.62708 13.5782 9.49729 13.6319 9.36196 13.6319C9.22664 13.6319 9.09685 13.5782 9.0011 13.4826Z" fill="#0079C1"/>
                                </svg>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0);" data-toggle="detail-modal" class="news-card">
                <div class="card-img">
                    <img src="./img/card/card-img-2.png" alt="">
                </div>
                <div class="text-card">
                    <div class="title">
                        <h3>CCN Group</h3>
                    </div>
                    <div class="desc">
                        <p>CCN Group TalentSys çözümlerini tercih etti</p>
                    </div>
                    <div class="card-link">
                        <div>
                            <span>DEVAMI</span>
                            <div class="icon">
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.0011 13.4826C8.90548 13.3869 8.85176 13.2571 8.85176 13.1217C8.85176 12.9864 8.90548 12.8566 9.0011 12.7609L14.2566 7.50456L0.510652 7.50456C0.375219 7.50456 0.245332 7.45076 0.149566 7.355C0.0538003 7.25923 -2.95541e-07 7.12934 -2.89621e-07 6.99391C-2.83701e-07 6.85848 0.0538003 6.72859 0.149566 6.63282C0.245332 6.53706 0.375219 6.48326 0.510652 6.48326L14.2566 6.48326L9.0011 1.22694C8.9109 1.13014 8.8618 1.0021 8.86413 0.869808C8.86646 0.737514 8.92006 0.611291 9.01362 0.51773C9.10718 0.42417 9.2334 0.370577 9.36569 0.368243C9.49799 0.365909 9.62602 0.415016 9.72283 0.505217L15.8507 6.63305C15.9463 6.7288 16 6.85859 16 6.99391C16 7.12923 15.9463 7.25903 15.8507 7.35477L9.72283 13.4826C9.62708 13.5782 9.49729 13.6319 9.36196 13.6319C9.22664 13.6319 9.09685 13.5782 9.0011 13.4826Z" fill="#0079C1"/>
                                </svg>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0);" data-toggle="detail-modal" class="news-card">
                <div class="card-img">
                    <img src="./img/card/card-img-2.png" alt="">
                </div>
                <div class="text-card">
                    <div class="title">
                        <h3>CCN Group</h3>
                    </div>
                    <div class="desc">
                        <p>CCN Group TalentSys çözümlerini tercih etti</p>
                    </div>
                    <div class="card-link">
                        <div>
                            <span>DEVAMI</span>
                            <div class="icon">
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.0011 13.4826C8.90548 13.3869 8.85176 13.2571 8.85176 13.1217C8.85176 12.9864 8.90548 12.8566 9.0011 12.7609L14.2566 7.50456L0.510652 7.50456C0.375219 7.50456 0.245332 7.45076 0.149566 7.355C0.0538003 7.25923 -2.95541e-07 7.12934 -2.89621e-07 6.99391C-2.83701e-07 6.85848 0.0538003 6.72859 0.149566 6.63282C0.245332 6.53706 0.375219 6.48326 0.510652 6.48326L14.2566 6.48326L9.0011 1.22694C8.9109 1.13014 8.8618 1.0021 8.86413 0.869808C8.86646 0.737514 8.92006 0.611291 9.01362 0.51773C9.10718 0.42417 9.2334 0.370577 9.36569 0.368243C9.49799 0.365909 9.62602 0.415016 9.72283 0.505217L15.8507 6.63305C15.9463 6.7288 16 6.85859 16 6.99391C16 7.12923 15.9463 7.25903 15.8507 7.35477L9.72283 13.4826C9.62708 13.5782 9.49729 13.6319 9.36196 13.6319C9.22664 13.6319 9.09685 13.5782 9.0011 13.4826Z" fill="#0079C1"/>
                                </svg>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0);" data-toggle="detail-modal" class="news-card">
                <div class="card-img">
                    <img src="./img/card/card-img-2.png" alt="">
                </div>
                <div class="text-card">
                    <div class="title">
                        <h3>CCN Group</h3>
                    </div>
                    <div class="desc">
                        <p>CCN Group TalentSys çözümlerini tercih etti</p>
                    </div>
                    <div class="card-link">
                        <div>
                            <span>DEVAMI</span>
                            <div class="icon">
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.0011 13.4826C8.90548 13.3869 8.85176 13.2571 8.85176 13.1217C8.85176 12.9864 8.90548 12.8566 9.0011 12.7609L14.2566 7.50456L0.510652 7.50456C0.375219 7.50456 0.245332 7.45076 0.149566 7.355C0.0538003 7.25923 -2.95541e-07 7.12934 -2.89621e-07 6.99391C-2.83701e-07 6.85848 0.0538003 6.72859 0.149566 6.63282C0.245332 6.53706 0.375219 6.48326 0.510652 6.48326L14.2566 6.48326L9.0011 1.22694C8.9109 1.13014 8.8618 1.0021 8.86413 0.869808C8.86646 0.737514 8.92006 0.611291 9.01362 0.51773C9.10718 0.42417 9.2334 0.370577 9.36569 0.368243C9.49799 0.365909 9.62602 0.415016 9.72283 0.505217L15.8507 6.63305C15.9463 6.7288 16 6.85859 16 6.99391C16 7.12923 15.9463 7.25903 15.8507 7.35477L9.72283 13.4826C9.62708 13.5782 9.49729 13.6319 9.36196 13.6319C9.22664 13.6319 9.09685 13.5782 9.0011 13.4826Z" fill="#0079C1"/>
                                </svg>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0);" data-toggle="detail-modal" class="news-card">
                <div class="card-img">
                    <img src="./img/card/card-img-2.png" alt="">
                </div>
                <div class="text-card">
                    <div class="title">
                        <h3>CCN Group</h3>
                    </div>
                    <div class="desc">
                        <p>CCN Group TalentSys çözümlerini tercih etti</p>
                    </div>
                    <div class="card-link">
                        <div>
                            <span>DEVAMI</span>
                            <div class="icon">
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.0011 13.4826C8.90548 13.3869 8.85176 13.2571 8.85176 13.1217C8.85176 12.9864 8.90548 12.8566 9.0011 12.7609L14.2566 7.50456L0.510652 7.50456C0.375219 7.50456 0.245332 7.45076 0.149566 7.355C0.0538003 7.25923 -2.95541e-07 7.12934 -2.89621e-07 6.99391C-2.83701e-07 6.85848 0.0538003 6.72859 0.149566 6.63282C0.245332 6.53706 0.375219 6.48326 0.510652 6.48326L14.2566 6.48326L9.0011 1.22694C8.9109 1.13014 8.8618 1.0021 8.86413 0.869808C8.86646 0.737514 8.92006 0.611291 9.01362 0.51773C9.10718 0.42417 9.2334 0.370577 9.36569 0.368243C9.49799 0.365909 9.62602 0.415016 9.72283 0.505217L15.8507 6.63305C15.9463 6.7288 16 6.85859 16 6.99391C16 7.12923 15.9463 7.25903 15.8507 7.35477L9.72283 13.4826C9.62708 13.5782 9.49729 13.6319 9.36196 13.6319C9.22664 13.6319 9.09685 13.5782 9.0011 13.4826Z" fill="#0079C1"/>
                                </svg>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0);" data-toggle="detail-modal" class="news-card">
                <div class="card-img">
                    <img src="./img/card/card-img-2.png" alt="">
                </div>
                <div class="text-card">
                    <div class="title">
                        <h3>CCN Group</h3>
                    </div>
                    <div class="desc">
                        <p>CCN Group TalentSys çözümlerini tercih etti</p>
                    </div>
                    <div class="card-link">
                        <div>
                            <span>DEVAMI</span>
                            <div class="icon">
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.0011 13.4826C8.90548 13.3869 8.85176 13.2571 8.85176 13.1217C8.85176 12.9864 8.90548 12.8566 9.0011 12.7609L14.2566 7.50456L0.510652 7.50456C0.375219 7.50456 0.245332 7.45076 0.149566 7.355C0.0538003 7.25923 -2.95541e-07 7.12934 -2.89621e-07 6.99391C-2.83701e-07 6.85848 0.0538003 6.72859 0.149566 6.63282C0.245332 6.53706 0.375219 6.48326 0.510652 6.48326L14.2566 6.48326L9.0011 1.22694C8.9109 1.13014 8.8618 1.0021 8.86413 0.869808C8.86646 0.737514 8.92006 0.611291 9.01362 0.51773C9.10718 0.42417 9.2334 0.370577 9.36569 0.368243C9.49799 0.365909 9.62602 0.415016 9.72283 0.505217L15.8507 6.63305C15.9463 6.7288 16 6.85859 16 6.99391C16 7.12923 15.9463 7.25903 15.8507 7.35477L9.72283 13.4826C9.62708 13.5782 9.49729 13.6319 9.36196 13.6319C9.22664 13.6319 9.09685 13.5782 9.0011 13.4826Z" fill="#0079C1"/>
                                </svg>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0);" data-toggle="detail-modal" class="news-card">
                <div class="card-img">
                    <img src="./img/card/card-img-2.png" alt="">
                </div>
                <div class="text-card">
                    <div class="title">
                        <h3>CCN Group</h3>
                    </div>
                    <div class="desc">
                        <p>CCN Group TalentSys çözümlerini tercih etti</p>
                    </div>
                    <div class="card-link">
                        <div>
                            <span>DEVAMI</span>
                            <div class="icon">
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.0011 13.4826C8.90548 13.3869 8.85176 13.2571 8.85176 13.1217C8.85176 12.9864 8.90548 12.8566 9.0011 12.7609L14.2566 7.50456L0.510652 7.50456C0.375219 7.50456 0.245332 7.45076 0.149566 7.355C0.0538003 7.25923 -2.95541e-07 7.12934 -2.89621e-07 6.99391C-2.83701e-07 6.85848 0.0538003 6.72859 0.149566 6.63282C0.245332 6.53706 0.375219 6.48326 0.510652 6.48326L14.2566 6.48326L9.0011 1.22694C8.9109 1.13014 8.8618 1.0021 8.86413 0.869808C8.86646 0.737514 8.92006 0.611291 9.01362 0.51773C9.10718 0.42417 9.2334 0.370577 9.36569 0.368243C9.49799 0.365909 9.62602 0.415016 9.72283 0.505217L15.8507 6.63305C15.9463 6.7288 16 6.85859 16 6.99391C16 7.12923 15.9463 7.25903 15.8507 7.35477L9.72283 13.4826C9.62708 13.5782 9.49729 13.6319 9.36196 13.6319C9.22664 13.6319 9.09685 13.5782 9.0011 13.4826Z" fill="#0079C1"/>
                                </svg>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock %}